<section class="googlefont w-4/5 bg-white h-fit mx-auto shadow-xl shadow-gray-200">
    <div class="bg-gray-50 w-full h-fit py-20 px-10">
        <div class="flex justify-start items-center gap-4 w-fit">
            <div class="bg-white w-32 h-32 rounded-full flex justify-center items-center shadow-lg shadow-gray-200">
                <img src="https://cdn-icons-png.freepik.com/256/15049/15049767.png?uid=R156296459&ga=GA1.1.823769688.1686565282&semt=ais_hybrid"
                    alt="profile" class="w-10 h-10">
            </div>
            <div>
                <p class="text-3xl font-bold text-gray-800"> Chico kumar jha </p>
                <p class="text-gray-400 font-medium text-sm my-4"> 0 tickets </p>
            </div>
        </div>
    </div>

    <div class="flex justify-end px-28 py-20">
        <div class="w-2/3">

            <p class="text-gray-700 font-medium text-xl"> Orders </p>

            <div class="my-4 text-center">
                <p class="text-lg text-gray-500 font-medium"> Looking for your tickets? </p>
                <p class="text-sm font-medium text-gray-500 mt-3"> You need to add tickets from find tickets section to see them there. </p>
                <div class="bg-gray-50 w-28 h-28 flex justify-center items-center rounded-full mx-auto my-8">
                    <img src="https://cdn-icons-png.freepik.com/256/9122/9122832.png?uid=R156296459&ga=GA1.1.823769688.1686565282&semt=ais_hybrid"
                        alt="ticket" class="w-16 h-16">
                </div>
                <p class="text-gray-400 font-semibold text-lg"> No upcoming orders </p>
            </div>

            <a [routerLink]="['/']">
            <button class="bg-orange-600 text-white font-semibold px-6 py-2 rounded-md block mx-auto my-8"> Get tickets for event </button>
            </a>

        </div>
    </div>
</section>