<section class="googlefont w-4/5 bg-white h-fit mx-auto shadow-xl shadow-gray-200">
    <div class="bg-gray-50 w-full h-fit py-20 px-10" #divRef>
        <div class="flex justify-start items-center gap-4 w-fit">
            <div class="bg-white w-32 h-32 rounded-full flex justify-center items-center shadow-lg shadow-gray-200">
                <img src="https://cdn-icons-png.freepik.com/256/15049/15049767.png?uid=R156296459&ga=GA1.1.823769688.1686565282&semt=ais_hybrid"
                    alt="profile" class="w-10 h-10">
            </div>
            <div>
                <p class="text-3xl font-bold text-gray-800"> Chico kumar jha </p>
                <p class="text-gray-400 font-medium text-sm my-4"> {{numberofTickets}} tickets </p>
            </div>
        </div>
    </div>

    <div class="flex justify-end h-fit px-28 py-20">
        @if (!hasTickets()) {
        <div class="w-2/3">

            <p class="text-gray-700 font-medium text-xl"> Orders </p>

            <div class="my-4 text-center">
                <p class="text-lg text-gray-500 font-medium"> Looking for your tickets? </p>
                <p class="text-sm font-medium text-gray-500 mt-3"> You need to add tickets from find tickets section to
                    see them there. </p>
                <div class="bg-gray-50 w-28 h-28 flex justify-center items-center rounded-full mx-auto my-8">
                    <img src="https://cdn-icons-png.freepik.com/256/9122/9122832.png?uid=R156296459&ga=GA1.1.823769688.1686565282&semt=ais_hybrid"
                        alt="ticket" class="w-16 h-16">
                </div>
                <p class="text-gray-400 font-semibold text-lg"> No upcoming orders </p>
            </div>

            <a [routerLink]="['/findEvents']">
                <button class="bg-orange-600 text-white font-semibold px-6 py-2 rounded-md block mx-auto my-8"> Get
                    tickets for event </button>
            </a>

        </div>
        }

        @else {
        <div class="w-2/3" *ngIf="hasTickets()">
            <p class="text-gray-700 font-bold text-3xl mb-10"> Your Tickets </p>

            <div class="flex flex-col justify-start gap-10 h-96 px-10 py-10 rounded-xl overflow-y-scroll custom-scrollbar">
                @for (ticket of totalTickets; track $index) {
                <div class="bg-gray-50 hover:bg-gray-100 w-full h-fit px-4 py-2 rounded-md flex justify-center items-center gap-4 cursor-pointer">
                    <img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F678047679%2F1681621140333%2F1%2Foriginal.20240119-052142?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C0%2C2160%2C1080&s=7ebe82ad7bf088d84f0a01f948592f49"
                        alt="eventImg" class="w-20 h-10">
                    <div class="w-full flex justify-between items-center">
                        <div>
                            <h3 class="text-gray-800 font-semibold"> {{ticket.email}} </h3>
                            <p class="text-gray-800 font-bold"> {{ticket.event_booked}} </p>
                        </div>
                        <p class="text-gray-800 font-medium"> {{ticket.date}} </p>
                    </div>
                </div>
                }
            </div>
        </div>
        }
    </div>
</section>