@if (showNavbar) {
    @if (isLoggedIn) {
        <app-login-nav (searchActive)="receiveMsg($event)"></app-login-nav>
    }
    @else {
        <app-navbar></app-navbar>
    }
}

<section [ngClass]="isLoggedIn? 'mt-10 overflow-x-hidden' : 'mt-16 overflow-x-hidden'">
    <div class="bg-gray-800 opacity-30 w-screen h-screen fixed top-14 z-20" *ngIf="searchActive"></div>
    <router-outlet></router-outlet>
</section>

@if (showNavbar) {
    @if (isLoggedIn) {
        <app-login-footer></app-login-footer>
    }
    @else {
        <app-footer></app-footer>
    }
}