<section class="bg-white">

    <section class="googlefont border-b-2 bg-white">
        <div class="w-5/6 h-96 relative mx-auto mt-24 mb-16 overflow-hidden rounded-xl">
            <img src="https://cdn.evbstatic.com/s3-build/fe/build/images/39ac4703250a1d0fb15911c2c5f10174-generic_1_desktop.webp"
                alt="eventImg" class="rounded-xl w-full h-full object-cover">

            <div
                class="text-white absolute inset-0 w-fit px-10 flex flex-col justify-center bg-gradient-to-r from-gray-700 to-white/0">
                <p class="font-bold text-3xl my-2"> Best events in </p>
                <h2 class="text-5xl font-extrabold"> Delhi </h2>
                <p class="font-medium w-[33rem] h-16 overflow-y-scroll text-sm my-6">
                    Looking for something to do in Delhi? Whether you're a local, new in town or just cruising through
                    we've
                    got loads of great tips and events. You can explore by location, what's popular, our top picks, free
                    stuff... you got this. Ready?
                </p>
                <button
                    class="bg-blue-600 font-medium text-sm w-28 h-10 rounded-full flex justify-center items-center gap-2">
                    <img src="https://cdn-icons-png.freepik.com/256/402/402326.png?uid=R156296459&ga=GA1.1.823769688.1686565282&semt=ais_hybrid"
                        alt="location" class="w-5 h-5">
                    <p> Delhi </p>
                </button>
            </div>
        </div>
    </section>

    <section class="py-10">
        <div class="w-5/6 mx-auto">
            <h1 class="text-2xl text-gray-600 font-bold mb-10"> Popular in Delhi </h1>

            <div class="flex flex-wrap justify-start gap-8">
                @for (event of fetchedEvents; track $index) {
                @if (event.id <= 8) {
                <app-event-card [description]="event.title" [date]="event.date" [start_time]="event.start_time"
                    [location]="event.location" [price]="event.price"></app-event-card>
                }
                }
            </div>
        </div>

        <div class="w-5/6 mx-auto mt-16">
            <h1 class="text-2xl text-gray-600 font-bold mb-10"> Online Events </h1>

            <div class="flex flex-wrap justify-start gap-8">
                @for (event of fetchedEvents; track $index) {
                @if (event.category === 'Online events') {
                <app-event-card [description]="event.title" [date]="event.date" [start_time]="event.start_time"
                    [location]="event.location" [price]="event.price"></app-event-card>
                }
                }
            </div>
        </div>

        <div class="w-5/6 mx-auto mt-16">
            <h1 class="text-2xl text-gray-600 font-bold mb-10"> Festivals and Fairs Events </h1>

            <div class="flex flex-wrap justify-start gap-8">
                @for (event of fetchedEvents; track $index) {
                @if (event.category === 'festivals-fairs events') {
                <app-event-card [description]="event.title" [date]="event.date" [start_time]="event.start_time"
                    [location]="event.location" [price]="event.price"></app-event-card>
                }
                }
            </div>
        </div>

        <div class="w-5/6 mx-auto mt-16">
            <h1 class="text-2xl text-gray-600 font-bold mb-10"> Classes and workshops Events </h1>

            <div class="flex flex-wrap justify-start gap-8">
                @for (event of fetchedEvents; track $index) {
                @if (event.category === 'classes-workshops events') {
                <app-event-card [description]="event.title" [date]="event.date" [start_time]="event.start_time"
                    [location]="event.location" [price]="event.price"></app-event-card>
                }
                }
            </div>
        </div>

    </section>

</section>