<section class="googlefont relative bg-gray-50 w-full overflow-x-hidden">
    <div class="relative w-full h-fit overflow-hidden">
        <img src="https://cdn.evbstatic.com/s3-build/fe/build/images/5fe808e647422b815b98b73c28ecf405-3_tablet_1067x470.webp"
            alt="Image" class="w-full block max-[428px]:mt-11">

        <div class="absolute w-fit inset-0 px-24 py-16 flex flex-col justify-end max-md:px-5 max-md:py-3">
            <a [routerLink]="['/findEvents']">
                <button class="text-white text-sm text-center font-semibold bg-orange-700 px-3 py-3 max-md:text-xs max-md:px-1 max-md:py-1">
                    Find your next event
                </button>
            </a>
        </div>

    </div>

    <div class="w-5/6 mx-auto mt-16">
        <h1 class="text-2xl text-gray-800 font-bold my-10"> Top trending in Delhi </h1>

        <div class="w-full h-[28rem] bg-gradient-to-b from-gray-300 to-white/30 mb-10 rounded-xl animate-pulse" *ngIf="loading; else visibleBlock"></div>

        <ng-template #visibleBlock>
            <div [ngClass]="fetchedEvents.length >= 3 ? 'flex flex-wrap justify-between gap-8 max-[537px]:justify-center' : 'flex flex-wrap justify-start gap-8 max-[537px]:justify-center'">

                @for (event of fetchedEvents; track $index) {
                @if (event.location === 'Delhi') {
                <app-event-card [description]="event.title" [event_creator]="event.event_creator"
                    [date]="event.date? event.date : 'To be announced'"
                    [start_time]="event.start_time? event.start_time : '(time not confirmed yet)'"
                    [location]="event.location" [price]="event.price" [event_img]="event.event_img"></app-event-card>
                }
                }

            </div>
        </ng-template>

    </div>

</section>