<nav class="googlefont fixed right-0 top-0 left-0 z-50 bg-white">
    <section class="border-2 border-b">
        <ul class="flex justify-around items-center py-2">
            <li class="cursor-pointer text-orange-600 font-bold text-2xl" [routerLink]="['/']"> eventStream </li>
            <li>
                <input type="search" name="search" id="search"
                    class="w-[40rem] h-12 px-5 bg-gray-50 border border-gray-300 outline-none rounded-full"
                    placeholder="Search events">
            </li>
            <li class="cursor-pointer text-sm font-medium text-gray-900 hover:bg-gray-50 rounded-full px-4 py-2"
                [routerLink]="['/findEvents']"> Find Events </li>
            <li class="cursor-pointer text-sm font-medium text-gray-900 hover:bg-gray-50 rounded-full px-4 py-2"
                [routerLink]="['/createEvents']"> Create Events </li>

            <li [routerLink]="loginToken ? null : '/login'"
                class="cursor-pointer text-sm font-medium  text-gray-900 hover:bg-gray-50 rounded-full px-4 py-2"
                *ngIf="!loginToken"> Log In </li>


            <li [routerLink]="loginToken ? null : '/signUp'"
                class="cursor-pointer text-sm font-medium text-gray-900 hover:bg-gray-50 rounded-full px-4 py-2"
                *ngIf="!loginToken;"> Sign Up </li>
<!-- 
            <ng-template #loginblock>
                <div [routerLink]="['/accountInfo']" class="flex justify-center items-center gap-4 cursor-pointer">
                    <div class="rounded-full bg-gray-100 px-2 py-2">
                        <img src="https://cdn-icons-png.freepik.com/256/15049/15049767.png?uid=R156296459&ga=GA1.1.823769688.1686565282&semt=ais_hybrid" alt="profile" class="w-4 h-4">
                    </div>
                    <p class="font-bold text-gray-500 text-xs"> {{email | lowercase}} </p>
                </div>
            </ng-template> -->
        </ul>
    </section>
</nav>
