<nav class="googlefont border-b border-2 w-screen fixed top-0 left-0 z-50 bg-white py-1">
    <ul class="flex justify-center flex-wrap gap-10 items-center max-[428px]:justify-center max-[1200px]:gap-4">
        <li class="cursor-pointer text-orange-600 font-bold text-2xl max-[778px]:text-sm max-[428px]:w-1/3"
            [routerLink]="['/']"> eventStream </li>
        <li class="relative w-2/5 max-[778px]:w-[180px]">
            <input type="search" name="search" id="search"
                class="search-container w-full h-12 px-5 bg-gray-50 border border-gray-300 outline-none rounded-full max-[778px]:h-8"
                autocomplete="off" placeholder="Search events" (input)="search($event)" (click)="toggleSuggestion()">

            <div class="w-1/2 absolute top-12 left-0 bg-white py-4 px-10 rounded-md z-40 max-[1035px]:w-full"
                *ngIf="searchClicked">
                <ul class="flex flex-col justify-center gap-8 text-gray-500 font-semibold max-lg:text-sm">
                    <li class="cursor-pointer flex justify-start items-center gap-5"> <img
                            src="https://t3.ftcdn.net/jpg/02/81/14/10/240_F_281141027_p3QurYdJnzbnf3Aola5uu0X6ElC5zVpf.jpg"
                            alt="" class="w-5 h-5"> <a routerLink="/manageEvents"> hackathons </a> </li>
                    <li class="cursor-pointer flex justify-start items-center gap-5"> <img
                            src="https://t3.ftcdn.net/jpg/02/81/14/10/240_F_281141027_p3QurYdJnzbnf3Aola5uu0X6ElC5zVpf.jpg"
                            alt="" class="w-5 h-5"> max amini </li>
                    <li class="cursor-pointer flex justify-start items-center gap-5"> <img
                            src="https://t3.ftcdn.net/jpg/02/81/14/10/240_F_281141027_p3QurYdJnzbnf3Aola5uu0X6ElC5zVpf.jpg"
                            alt="" class="w-5 h-5"> yoga </li>
                    <li class="cursor-pointer flex justify-start items-center gap-5"> <img
                            src="https://t3.ftcdn.net/jpg/02/81/14/10/240_F_281141027_p3QurYdJnzbnf3Aola5uu0X6ElC5zVpf.jpg"
                            alt="" class="w-5 h-5"> pool parties </li>
                    <li class="cursor-pointer flex justify-start items-center gap-5"> <img
                            src="https://t3.ftcdn.net/jpg/02/81/14/10/240_F_281141027_p3QurYdJnzbnf3Aola5uu0X6ElC5zVpf.jpg"
                            alt="" class="w-5 h-5"> job fairs </li>
                    <li class="cursor-pointer flex justify-start items-center gap-5"> <img
                            src="https://t3.ftcdn.net/jpg/02/81/14/10/240_F_281141027_p3QurYdJnzbnf3Aola5uu0X6ElC5zVpf.jpg"
                            alt="" class="w-5 h-5"> sports </li>
                </ul>
            </div>
        </li>

        <ul class="flex justify-start gap-10 max-[1200px]:gap-0 max-[1200px]:mx-auto">
            <li class="cursor-pointer text-sm text-center font-medium text-gray-500 hover:text-blue-500 rounded-full px-4 py-2 max-[428px]:text-xs"
                [routerLink]="['/findEvents']"> Find Events </li>
            <li class="cursor-pointer text-sm text-center font-medium text-gray-500 hover:text-blue-500 rounded-full px-4 py-2 max-[428px]:text-xs"
                [routerLink]="['/createEvents']"> Create Events </li>

            <li [routerLink]="loginToken ? null : '/login'"
                class="cursor-pointer text-sm text-center font-medium text-gray-500 hover:text-blue-500 rounded-full px-4 py-2 max-[428px]:text-xs"
                *ngIf="!loginToken"> Log In </li>


            <li [routerLink]="loginToken ? null : '/signUp'"
                class="cursor-pointer text-sm text-center font-medium text-gray-500 hover:text-blue-500 rounded-full px-4 py-2 max-[428px]:text-xs"
                *ngIf="!loginToken;"> Sign Up </li>
        </ul>
    </ul>
</nav>