<footer class="googlefont flex max-md:flex-col max-md:gap-4 flex-wrap justify-between px-10 items-center w-full h-auto py-5 text-white bg-indigo-950">
    <div class="flex items-center">
        <a [routerLink]="['/']">
            <p class="text-orange-600 text-xl font-bold"> eventStream </p>
        </a>
    </div>

    <div class="text-xs">
        <ol class="flex flex-wrap justify-center items-center gap-5 list-disc">
            <li> <a [routerLink]="['/']"> Browse events </a> </li>
            <li> <a [routerLink]="['/']"> create events </a> </li>
            <li> <a [routerLink]="['/']"> corporate events </a> </li>
            <li> <a [routerLink]="['/']"> Music events </a> </li>
            <li> <a [routerLink]="['/']"> Online events </a> </li>
            <li> <a [routerLink]="['/']"> Performing arts </a> events </li>
        </ol>
    </div>
</footer>