<!-- <a [routerLink]="['/eventInfo']"> -->
    <section class="googlefont cursor-pointer w-72 bg-white rounded-lg overflow-hidden hover:shadow-lg hover:shadow-gray-300 my-7 max-md:w-60" (click)="viewCard()">
        <img [src]="'http://localhost:8000/uploads/' + event_img" alt="event">
        
        <div class="px-4 py-4">
            <h1 class="text-gray-700 font-bold text-lg max-md:text-sm"> {{description}} </h1>
            <p class="text-gray-700 text-sm font-semibold my-1"> {{date}} • {{start_time}} </p>
            <p class="text-gray-500 text-sm font-medium my-2"> {{location}} </p>
            <p class="text-gray-600 text-sm font-semibold"> $ {{price}} </p>
        </div>
        
    </section>
<!-- </a> -->