<!-- Main section -->
<section class="googlefont">

    <section class="w-full h-full">
        <div class="bg-indigo-950 h-auto w-full text-white text-center py-8">
            <h1 class="text-5xl font-bold"> Where Event Organizers Grow </h1>
            <p class="font-bold text-lg my-4 mt-8"> The all-in-one ticketing and discovery platform trusted by millions
                of
                organizers and attendees worldwide </p>
            <a [routerLink]="loginToken ? '/eventForm': '/signUp'">
                <button class="bg-orange-700 w-80 py-2 rounded-md font-bold text-lg">
                    {{loginToken ? 'Create your event' : 'Get started for free'}}
                </button>
            </a>
        </div>
    </section>

    <section class="text-center text-indigo-950 my-10 mx-auto">
        <h1 class="text-5xl font-bold "> Event hosting made easy </h1>
        <p class="text-xl  font-semibold my-4"> Easily create and manage events on a platform that
            attendees
            love and trust </p>

        <div class="flex justify-center items-center w-full">
            <div class="w-1/2">
                <div class="w-72 text-start my-6 mx-auto">
                    <img src="https://eventbrite-s3.s3.amazonaws.com/marketing/landingpages/assets/2023/organizer/icons/svg/organizer-icon__orange--sell-tickets.svg"
                        alt="ticket" class="">
                    <h2 class="font-bold text-xl my-4"> Event Ticketing </h2>
                    <p class="text-sm"> Sell more tickets with customizable event pages and a seamless
                        checkout experience for attendees on a trusted platform </p>
                </div>

                <div class="w-72 text-start my-6 mx-auto">
                    <img src="https://cdn.evbstatic.com/s3-s3/marketing/landingpages/assets/2023/organizer/icons/svg/organizer-icon__orange--reports.svg"
                        alt="report" class="">
                    <h2 class="font-bold text-xl my-4"> Reporting & Analysis </h2>
                    <p class="text-sm"> Learn more about your buyers and discover where sales are coming
                        from with real-time analytics </p>
                </div>

                <div class="w-72 text-start my-6 mx-auto">
                    <img src="https://eventbrite-s3.s3.amazonaws.com/marketing/landingpages/assets/2023/organizer/icons/svg/organizer-icon__orange--organizer-app.svg"
                        alt="organizer" class="">
                    <h2 class="font-bold text-xl my-4"> Organizer App </h2>
                    <p class="text-sm"> Check guests in, sell tickets at the door, and track data with
                        our
                        easy-to-use Eventbrite Organizer App </p>
                </div>
            </div>

            <div class="w-1/2">
                <img src="https://images.bzyjr9ji.ext.evbdomains.com/marketing/landingpages/assets/2023/organizer/organizer--eventbrite--host-events--001.webp"
                    alt="mobile" class="w-4/5">
            </div>
        </div>

    </section>

    <section class="text-center text-white my-10 py-10 mx-auto bg-indigo-950">
        <h1 class="text-5xl font-bold"> Reach the right people </h1>
        <p class="text-xl font-semibold my-4"> Grow your community on a marketplace where millions of people look for things to do. </p>

        <div class="flex justify-center items-center w-full">
            <div class="w-1/2">
                <div class="w-72 text-start my-6 mx-auto">
                    <img src="https://eventbrite-s3.s3.amazonaws.com/marketing/landingpages/assets/2023/organizer/icons/svg/organizer-icon__purple--attendee.svg"
                        alt="ticket" class="">
                    <h2 class="font-bold text-xl my-4"> Attendee Discovery </h2>
                    <p class="text-sm"> Personalized recommendations are tailored to attendees' interests and location, matching them with events they’d be most interested in attending </p>
                </div>

                <div class="w-72 text-start my-6 mx-auto">
                    <img src="https://eventbrite-s3.s3.amazonaws.com/marketing/landingpages/assets/2023/organizer/icons/svg/organizer-icon__purple--eventbrite-ads.svg"
                        alt="report" class="">
                    <h2 class="font-bold text-xl my-4"> EventStream Ads </h2>
                    <p class="text-sm"> Promote your event across Eventbrite and get 14x more visibility on our homepage, related events, search results, and more </p>
                </div>

                <div class="w-72 text-start my-6 mx-auto">
                    <img src="https://eventbrite-s3.s3.amazonaws.com/marketing/landingpages/assets/2023/organizer/icons/svg/organizer-icon__purple--marketing-tools.svg"
                        alt="organizer" class="">
                    <h2 class="font-bold text-xl my-4"> Marketing Tools </h2>
                    <p class="text-sm"> Engage attendees and reach new ones with our suite of automated email and social marketing tools </p>
                </div>
            </div>

            <div class="w-1/2">
                <img src="https://images.bzyjr9ji.ext.evbdomains.com/marketing/landingpages/assets/2023/organizer/organizer--eventbrite--reach-people--002.webp"
                    alt="mobile" class="w-4/5">
            </div>
        </div>

    </section>

    <section class="text-center text-indigo-950 my-10 py-10 mx-auto bg-white">
        <h1 class="text-5xl font-bold"> Get paid, earn more </h1>
        <p class="text-xl font-semibold my-4"> Do what you love and earn more money with low-cost fees and quicker payouts </p>

        <div class="flex justify-center items-center w-full">
            <div class="w-1/2">
                <div class="w-72 text-start my-6 mx-auto">
                    <img src="https://eventbrite-s3.s3.amazonaws.com/marketing/landingpages/assets/2023/organizer/icons/svg/organizer-icon__purple--wallet-money.svg"
                        alt="ticket">
                    <h2 class="font-bold text-xl my-4"> Low-cost fees </h2>
                    <p class="text-sm"> Clear value, transparent fees </p>
                </div>

                <div class="w-72 text-start my-6 mx-auto">
                    <img src="https://eventbrite-s3.s3.amazonaws.com/marketing/landingpages/assets/2023/organizer/icons/svg/organizer-icon__purple--payment-marketplace.svg"
                        alt="report">
                    <h2 class="font-bold text-xl my-4"> Payment Processing </h2>
                    <p class="text-sm"> Easily collect and simplify event payments with built-in, full-service payment processing </p>
                </div>

                <div class="w-72 text-start my-6 mx-auto">
                    <img src="https://eventbrite-s3.s3.amazonaws.com/marketing/landingpages/assets/2023/organizer/icons/svg/organizer-icon__purple--scheduled-payouts.svg"
                        alt="organizer" class="">
                    <h2 class="font-bold text-xl my-4"> Scheduled Payouts </h2>
                    <p class="text-sm"> Get paid before your event takes place on a customized schedule of your choice </p>
                </div>
            </div>

            <div class="w-1/2">
                <img src="https://images.bzyjr9ji.ext.evbdomains.com/marketing/landingpages/assets/2023/organizer/organizer--eventbrite--get-paid-earn-more--003.webp"
                    alt="mobile" class="w-4/5">
            </div>
        </div>

    </section>

    <section class="bg-white my-10">

        <div class="px-40 my-10">
            <p class="text-gray-700 font-semibold text-sm"> EXPLORE OUR SOLUTIONS </p>
            <h1 class="text-gray-800 text-3xl font-bold my-3"> Discover solutions for events of all kinds and sizes </h1>
        </div>

        <div class="flex flex-wrap justify-center items-center gap-5">

            @for (event of Events; track $index) {                
                <div class="w-96 bg-gray-100 flex justify-start items-center gap-5 rounded-lg overflow-hidden cursor-pointer hover:bg-white hover:shadow-lg hover:shadow-gray-300">
                    <img [src]="event.img" alt="templates" class="w-36 h-36">
                    <p class="font-semibold text-2xl text-gray-800"> {{event.text}} </p>
                </div>
            }
            
        </div>

    </section>

</section>