<section class="w-full h-screen">
    <h1 class="text-4xl font-extrabold text-indigo-950 text-center my-10 underline max-md:text-xl max-md:mt-14 max-md:mb-7">
        {{fetchedEvents.length > 0 ? 'Your Searched Events!' : 'Sorry for now!'}}
    </h1>

    <div class="w-5/6 mx-auto mt-16">
        <div class="w-full h-[28rem] bg-gradient-to-b from-gray-300 to-white/30 mb-10 rounded-xl animate-pulse"
            *ngIf="loading; else visibleBlock"></div>

        <ng-template #visibleBlock>
            @if (fetchedEvents.length > 0) {

            <div
                [ngClass]="fetchedEvents.length >= 3 ? 'flex flex-wrap justify-between gap-8 max-[537px]:justify-center' : 'flex flex-wrap justify-start gap-8 max-[537px]:justify-center'">

                @for (event of fetchedEvents; track $index) {
                    @if ($index < 8) {
                        <app-event-card [description]="event.title" [event_creator]="event.event_creator"
                        [date]="event.date? event.date : 'To be announced'"
                        [start_time]="event.start_time? event.start_time : '(time not confirmed yet)'"
                        [location]="event.location" [price]="event.price" [event_img]="event.event_img"></app-event-card>
                    }
                }

            </div>
            }
            @else {
                <div class="mx-auto mt-10 mb-20 w-full">
                    <img src="https://cdn-icons-png.freepik.com/256/9122/9122832.png?uid=R156296459&ga=GA1.1.823769688.1686565282&semt=ais_hybrid"
                        alt="ticket" class="w-36 h-36 mx-auto max-md:w-24 max-md:h-24">
                    <p class="text-indigo-950 text-2xl font-bold my-8 text-center max-md:text-sm"> No available Events </p>
                </div>
                }
        </ng-template>

    </div>

</section>